[2016-10-12 18:36] Moshe opened #1 "Implement elasticsearch input"

[2016-10-12 18:37] Moshe opened #2 "Implement random input"

[2016-10-12 18:39] Moshe opened #3 "Implement Kafka input"

[2016-10-12 18:39] Moshe opened #4 "Implement SQS input"

[2016-10-12 18:42] #4 closed

[2016-10-12 18:42] #3 closed

[2016-10-12 18:42] #2 closed

[2016-10-12 18:43] #1 closed

[2016-11-01 05:09] yanxurui opened #5 "Does not support python3"
[code]

[2016-11-02 21:15] #5 closed

[2016-11-02 21:17] Moshe commented on #5
Fixed import errors, give it a try (:

[2016-11-03 10:03] erezkoren opened #6 "No support for Elasticsearch 5.0.0 GA"
No support for Elasticsearch 5.0.0 GA, see error below

"Uploading  [###################################-]   98%  00:00:052016-10-31 00:09:51.475786 WARN Chunk 101 got exception (TransportError(400, u'illegal_argument_exception', u'request [/_bulk] contains unrecognized parameter: [consistency]')) while processing"

[2016-11-05 16:17] #6 closed

[2016-11-05 16:18] Moshe commented on #6
Issue fixed, let me know if you get the error again.

[2017-01-16 09:28] JunkMyFunk opened #8 "Unicode issues loading from utf-8 csv"
I see

`WARN Chunk 0 got exception ('ascii' codec can't decode byte 0xc3 in position 1548: ordinal not in range(128)) while processing`

when loading a utf-8 encoded csv file

[2017-01-22 21:09] moshe commented on #8
Hi @JunkMyFunk, can you attach example csv?

[2017-02-02 12:48] liveangel-js opened #9 "parquet module not found, please install manually"
What does that mean?
I saw TODO parquet support in readme.md. Does that mean parquet not supported now?

[2017-02-03 15:04] moshe commented on #9
Supported, look at [Installation](https://github.com/moshe/elasticsearch_loader#installation) paragraph:
_In order to add parquet support run pip install elasticsearch-loader[parquet]_

Waiting for your response to close

[2017-02-21 22:33] JohnOmernik opened #10 "Defaults for Batch Size and Concurrency?"
What are the defaults for the Batch size and Concurrency settings?

[2017-02-21 22:40] JohnOmernik opened #11 "Ability to specify a certificate bundle (.pem) for internal CAs"
When we are running Elasticsearch behind a LB using our own CA (that is trusted) it would be nice to be able to provide a CA bundle to pass to the URLLib3 module.

[2017-02-22 13:46] JohnOmernik opened #12 "Is "append" to index an option"
I am looking through both docs, code, and test usage, and perhaps I am missing something, but it appears the options are A. Index does not exist, and on a single run of elasticsearch_loader, you can load an entire index or B. Index does exist and you specified --delete therefore the existing index will be deleted.  When you try to run elasticsearch loader on an index that already exists, but do no

[2017-02-22 13:58] JohnOmernik commented on #10
Digging in the code, I see batch size defaults to 500, and concurrency defaults to 10.  It would be helpful if this were in docs as well (or displayed help)

[2017-02-22 17:21] JohnOmernik opened #13 "Parquet groupings"
When doing a directory of Parquet files (an option to do a directory without having to pass each file would be great :) I noticed that the time before the ingest starts gets progressively longer the more files there are. On a smaller machine, it would just fail without any sort of warning or error, nothing would happen. In an effort to trouble shoot this, I started upping the number of files, and

[2017-02-22 19:39] #10 closed

[2017-02-22 19:41] moshe commented on #12
Sure, this should be the default behaviur, maybe are you passing index-settings-file when you trying to update the existing index?

[2017-02-22 19:42] moshe commented on #9
Timedout!
@liveangel-js please reopen if you still think there is a issue

[2017-02-22 19:42] #9 closed

[2017-02-22 20:02] JohnOmernik commented on #12
Ah, I am AM doing that! I didn't know that is what is causing that... perhaps a note in the help screen or readme that states that the index settings only needs to be provided when first creating the index.

Alternatively, if the index is exists, and --delete is NOT specified, perhaps we ignore the index-settings file and pass a warning to the user that since the index exists the settings are igno

[2017-02-22 20:03] #11 closed

[2017-02-22 20:06] moshe commented on #11
Check out version 0.2.0 - new SSL support https://pypi.python.org/pypi/elasticsearch-loader/0.2.0

[2017-02-22 20:06] JohnOmernik commented on #13
So I did some profiling, on my import that worked, Prior to the import actually happening (basically there were no connections to ES in this time, it apparently was just reading the Parquet files), here are some stats:

One Directory
18 Parquet files
Total Size: 632 MB
Smallest file: 32 MB
Largest File: 40 MB
Avg: 35MB
When watching the Elasticsearch_loader process Memory use reached 36 GB of usag

[2017-02-22 20:10] moshe commented on #13
The root cause is in the progress bar feature, it reads all the files before the actual load in order to estimate the progress, I will add a flag that disables that feature in the near future (pr is welcome here).
in the meantime you can use bash script to lazy loading the files:
[code]

[2017-02-22 21:27] JohnOmernik commented on #11
That is working now, I wish I could pass a flag through that allowed me to hide warnings. (I am still getting a SSL subject alt name depreciation warning... my certs don't have subject alt name on them... makes my screen a mess :)

[2017-02-22 21:51] JohnOmernik commented on #13
Ya, that flag would be helpful, even with the lazy loading method, much of the time spent is spent in gather file sizes... (based on evaluation) thus, removing this will help memory pressure and speed of loads. I will look at the code, but I don't think I will be able to help much here.

[2017-05-05 17:29] #12 closed

[2017-05-05 17:29] #13 closed

[2017-06-15 20:03] radicand opened #17 "Unable to upload tsv file properly"
When I try to load in a TSV (exported from Excel as 'Unicode Text), it imports the whole header row as one field key, and then each row as the field value. It doesn't appear to separate fields out by the tab.

[2017-06-19 09:01] moshe commented on #17
Hi @radicand.
did you issued with --delimiter='\t' ?
can you please supply example file ?

[2017-07-05 22:56] radicand commented on #17
Hi @moshe - I didn't use the `--delimiter='\t' option as I didn't see it documented. I'll close this issue and re-open if I have trouble with this the next time I give it a shot. Thanks for the tip!

[2017-07-05 22:56] #17 closed

[2017-09-18 00:46] kerneltravel commented on #8
@JunkMyFunk it seem your csv file's content is with Utf8 string in position 1548 ( use vim's goto command to jump to position).
@moshe any csv file with none-ANSI characters will failed to import. some fix need because of python2.x's encoding way

[2017-10-27 15:31] santhoshpesari1020 opened #19 "Cannot execute on a mac"
I was able to install this on a mac but I'm unable to run this on a mac. It returns the below error. Any thoughts? Is this platform dependent? Is this only tested on linux?

Traceback (most recent call last):
  File "/Users/jenkins/Library/Python/3.6/bin/elasticsearch_loader", line 11, in <module>
    load_entry_point('elasticsearch-loader==0.2.2', 'console_scripts', 'elasticsearch_loader')()
  Fi

[2017-10-27 15:31] #19 closed

[2017-10-27 15:32] shravanjnaidu opened #20 "Unable to run on mac"
I was able to install this on a mac but I'm unable to run this on a mac. It returns the below error. Any thoughts? Is this platform dependent? Is this only tested on linux?

Traceback (most recent call last):
File "/Users/jenkins/Library/Python/3.6/bin/elasticsearch_loader", line 11, in
load_entry_point('elasticsearch-loader==0.2.2', 'console_scripts', 'elasticsearch_loader')()
File "/Library/Fram

[2017-10-29 11:17] moshe commented on #20
Actually I developed in on my mac and ran in in docker (for checking linux compatibility).
I did you installed esl?

[2017-10-30 16:06] shravanjnaidu commented on #20
Found out the problem. I had to `pip install click_conf` and `pip install click` separately for elasticsearch_loader to work.

Great work with the tool man! Solved my overhead like a charm!

[2017-10-30 16:06] #20 closed

[2017-10-30 16:45] moshe commented on #20
Nice to hear, I will check why it happened and update the docs.

[2018-01-23 09:24] devssh opened #26 "Sample request"
Any sample on how to load mappings using a file?

[2018-01-23 12:53] moshe commented on #26
sure!
you can see it here: https://github.com/moshe/elasticsearch_loader#load-custom-mappings
the json file should be in elasticsearch settings file:
[code]

[2018-01-24 08:22] #26 closed

[2018-01-24 08:23] devssh commented on #26
No, I meant the actual settings file! Thanks!

[2018-03-19 04:58] flowerkiss opened #28 "from click_conf import conf problem"
__init__.py", line 8, in <module>
    from click_conf import conf
ModuleNotFoundError: No module named 'click_conf'

Solved by: pip install click_conf

[2018-03-19 10:00] moshe commented on #28
Hi @flowerkiss, thank you for the issue submission, I will look into it

[2018-03-23 13:45] #28 closed

[2018-03-24 11:03] keremcankabadayi opened #30 "Error trying to load JSON input to ES"
Hey! I'm trying to load some datas to ES. When i try with POST, it adds.

[code]

I'm trying with this command `elasticsearch_loader --index incidents --type incident json titles.json`

I got this error

[code]

Total data is `170123`

And my `titles.json` file like

[code]

Any help?

[2018-03-24 11:39] keremcankabadayi commented on #30
The issue was about my file format and MY BAD.
I definitely had to read instructions carefully.

[code]

[2018-03-24 11:40] #30 closed

[2018-07-10 17:37] pythondata opened #32 "elasticsearch_loader in ubuntu: MemoryError"
Hi, I have the same file loaded from my mac to AWS ES, works.  But, the same code in Ubuntu got this error msg.

  'Connecting to %s using SSL with verify_certs=False is insecure.' % host)
Traceback (most recent call last):
  File "/home/ubuntu/.local/bin/elasticsearch_loader", line 11, in <module>
 load_entry_point('elasticsearch-loader==0.2.6', 'console_scripts', 'elasticsearch_loader')()
  File

[2018-07-10 17:39] pythondata commented on #32
Hi, I have the same file loaded from my mac to AWS ES, works but same code in Ubuntu got this error msg.

[2018-07-11 09:01] moshe commented on #32
Hey @pythondata !
Can you please comment with the arguments you supplied to `esl`?

[2018-08-01 16:09] afaulconbridge opened #33 "License?"
Can you clarify what license elasticsearch_loader is distributed under? Or if there isn't one yet, can I suggest adding one, such as MIT License https://github.com/moshe/elasticsearch_loader/community/license/new?branch=master&template=mit ?

[2018-08-07 12:43] allwithfly opened #34 "406, u'Content-Type header [] is not supported"
2018-08-07 20:30:55.266000 INFO Loading into ElasticSearch
  [------------------------------------]2018-08-07 20:30:55.319000 ERROR attempt [1/1] got exception, it is a permanent data loss, no retry any more
2018-08-07 20:30:55.320000 WARN Chunk 0 got exception (TransportError(406, u'Content-Type header [] is not supported')) while processing
2018-08-07 20:30:55.360000 ERROR attempt [1/1] got exce

[2018-08-08 19:39] #33 closed

[2018-08-08 19:41] moshe commented on #34
Hey @allwithfly, I suspect you had an older version of elasticsearch client installed locally,
can you check what is your installed version?
`pip show elasticsearch`
I have merged a fix for feature fix

[2018-08-09 06:31] allwithfly commented on #34
Yes, you are right
my elasticsearch version is 1.6.0
Updated
The error no longer appears
thank.

[2018-08-10 08:34] #34 closed

[2018-08-10 08:35] moshe commented on #32
Ping

[2018-08-11 16:40] lianyi opened #37 "ReadTimeoutError"
Any chance to increase the timeout?  Got the following timeout on initial index loading with settings configuration.

Thanks

[code]

[2018-08-12 18:40] #37 closed

[2018-08-12 18:41] moshe commented on #37
@lianyi Added a new flag for ESL, `--timeout` let me know if you still have issues.

[2018-08-12 20:28] lianyi commented on #37
Thanks!
On Sun, Aug 12, 2018 at 11:41 AM Moshe Zada <notifications@github.com>
wrote:

[2018-09-05 10:31] cybcon opened #39 "Importing numeric data"
Hi,
I'm importing my CSV files into elasticsearch to make visualizations in Kibana.
As I recognized, the script will quote every field in the CSV, so the field type is always text.
Is it possible to make a CSV file specific configuration with field to type mappings or can you implement an autodetection of field types of some generic types such as int, float, text, timestamp.
Or, which will also be

[2018-09-06 20:09] moshe commented on #39
Hey @cybcon
You can achieve it by defining the field type in the [mapping](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping.html)
Elasticsearch loader supports custom mapping by adding `--index-settings-file`.
An example settings file content:
[code]

Let me know if it works for you (:

[2018-09-06 20:10] #32 closed

[2018-09-12 13:13] cybcon commented on #39
Hey @moshe
Thank you for the tip, I will check it out and give you some feedback.
Did I understand correctly that the tool will read the index configuration and prepare the CSV according the property types and if there is a new index, I can adjust the property types by define the index-settings-file. So the Tool will correctly interpret int and float from CSV (and if not defined, the default is st

[2018-09-13 07:52] moshe commented on #39
No, Elasticsearch doing this "cast" for you, so if you defined a certain field as integer and provided a string of integer, elasticsearch will cast the string to int, and index it.

[2018-10-07 20:08] moshe commented on #39
@cybcon Any update?

[2018-10-10 12:48] savioteles opened #40 "Error: no such option: --index-settings-file"
When the command bellow is runned, throws the error: "Error: no such option: --index-settings-file"

`elasticsearch_loader --index incidents --type incident parquet /tmp/part-00000-4078ca87-b779-4960-9b15-e61ca69d2ece-c000.snappy.parquet --index_settings_file /tmp/settings.json`

[2018-10-12 13:34] moshe commented on #40
Hey @savioteles,
put the `--index_settings_file /tmp/settings.json` before the command you wish to execute (`parquet` in your case), the idea is that the flags that are related to elasticsearch should be supplied **before** the input command, so the options for the input parsing comes **after** the input command.
Good:
`elasticsearch_loader --index incidents --type incident csv --delimiter ',' fil

[2018-10-19 03:50] danyaljj opened #43 "jsonl not working"
I am trying to load a collection of json files.

Here is the content of my jsonl file:
[code]

and here is the error I am getting:
[code]

[2018-10-19 08:47] moshe commented on #43
@danyaljj In order to load json lines you need to simply add `--json-lines` after the json commad:
`elasticsearch_loader --index questions --type train json --json-lines squad_train_questions2.jsonl `

[2018-10-19 21:47] #43 closed

[2018-10-28 21:14] #39 closed

[2018-11-03 00:02] #40 closed

[2018-12-06 12:55] antunesleo commented on #8
Also having the same problem.

[2018-12-26 01:36] antunesleo commented on #8
@moshe I’m away on holiday until the 9th of January, so i can't give you the precise information because the project I'm working on are in my work machine. It's python 2.7, 20 days ago when I commented I was using the last version of esl, and the csv has some values with non ascII caracters, very common on portuguese language, for example: João. The problem does not happen in python 3+.
When I com

[2018-12-27 10:01] #8 closed

[2018-12-27 10:07] moshe commented on #8
@antunesleo I've fixed the issue, please upgrade your ESL version (0.2.13), LMK if you still have issues.
I really appreciate your help (:

[2018-12-27 13:53] antunesleo commented on #8
@moshe Thank you. ESL is a great library, i'm glad to help.

[2019-02-12 07:24] siddharthdivi commented on #39
@moshe so I'll have to write my own custom mapping if I want to import data in other types (like int, float etc.) in ElasticSearch? By default all the fields are read as 'strings' is it?

[2019-02-12 08:00] siddharthdivi opened #53 "Numeric Data upload using custom mapping file"
@moshe I'd like to write my own custom mapping file to upload numeric data with relevant fields for me to visualize in Kibana. Could you possibly show me an example of a mapping file that I'd have to reference with the --index-settings-file so that I can do the same?

[2019-02-12 11:05] moshe commented on #53
hey @siddharthdivi,
Take a look at the attached minimal mappings I supplied, the type is `typeNameHere` and the name of the field is `metric`.
More info [here](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/indices-create-index.html)
[code]

Please close the issue if issue is solved

[2019-02-12 11:12] moshe commented on #53
Ref #39

[2019-02-12 12:36] siddharthdivi commented on #53
@moshe the following is my mapping :

[2019-02-12 13:14] siddharthdivi commented on #53
@moshe the following is my mapping :

{
"settings": {
"mappings": {
"incident": {
"properties": {
"FlightDate" : {"type" : "date"},
"Quarter" : {"type" : "int"},
"Year" : {"type" : "int"}
}
}
}
}
}

I save it in a file called 'index.json', and run the following command :
elasticsearch_loader --index-settings-file ./index.json --index incident --type incident csv 2017MergedandProcessed.csv

but I g

[2019-02-12 13:43] moshe commented on #53
@siddharthdivi can you please supply:
1. elasticsearch version (`curl eshost:9200`)
2. python version `python -V`
3. elasticsearch python version `pip show elasticsearch`
4. esl version `pip show elasticsearch_loader`

I suspect your elasticsearch client is old and not sending the `Content-Type` header, the commands above will let me better understand the issue

[2019-02-12 16:01] moshe opened #54 "Implement debug command in order to give context around the issue"
use: https://help.github.com/articles/about-automation-for-issues-and-pull-requests-with-query-parameters/#supported-query-parameters

[2019-02-12 16:37] siddharthdivi commented on #53
* Output of ElasticSearch Version obtained by 'curl -XGET localhost:9200'* :

{
  "name" : "5RfcR_1",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "nrIJQuQySXCGtkVNTqyt-w",
  "version" : {
    "number" : "6.6.0",
    "build_flavor" : "default",
    "build_type" : "deb",
    "build_hash" : "a9861f4",
    "build_date" : "2019-01-24T11:27:09.439740Z",
    "build_snapshot" : false,
    "luce

[2019-02-12 21:54] moshe commented on #53
Found it!
[code]
In my previues comments the mapping section was inside the settings, while it should be outside of it.
`elasticsearch_loader  --index-settings-file ./mappings.json --index incident --type incident csv 2017MergedandProcessed.csv` works for me with same ESL, elasticsearch python and ES server.
@siddharthdivi can you check with the new settings json?

[2019-02-13 04:57] siddharthdivi commented on #53
@moshe I've tried the same, but the issue still persists. But I'm able to send a CURL request which creates a mapping with the exact same index configurations. The problem is that I'm not able to read mappings from a custom json file, which leads to the above-mentioned error ('Compressor detection can only be called on some xcontent bytes or compressed xcontent bytes')

[2019-02-13 14:22] moshe commented on #53
@siddharthdivi I will try to take a closer look in the next days.
in the meanwhile, can you please provide the full stacktrace of the error? (the last 12~ lines of the output)

[2019-02-13 16:40] siddharthdivi commented on #53
@moshe The below is the stack trace. Just to be clear, I'm able to create a mapping by explicitly sending a CURL request but not able to read a custom mapping from a json file.

PUT http://localhost:9200/incident [status:500 request:0.005s]
Traceback (most recent call last):
  File "/opt/anaconda/bin/elasticsearch_loader", line 11, in <module>
    load_entry_point('elasticsearch-loader==0.2.19', '

[2019-02-15 13:05] moshe commented on #53
@siddharthdivi I suspect that there is an issue in the mapping file. I think that ES unable to parse it as json, I've added json load in the latest version (`0.2.24`) of ESL in order to check it. can you upgrade ESL and let me know if you get different error?

[2019-02-19 07:07] siddharthdivi commented on #53
@moshe The fix works. Thank you!!

[2019-02-19 07:07] #53 closed

[2019-02-23 20:19] #54 closed

[2019-03-04 18:41] vivekiyer87 opened #57 "Issue with Date time fields"
Hey,

Excellent tool, saves us ton of time, however if we import an csv with loads of date fields via csv, somehow it loads everything as a string, not sure if this is tool or Elasticsearch settings!

Thanks a ton anyways!

Regards,
Vivek

[2019-03-04 18:47] vivekiyer87 opened #58 "Issue with Date time fields"
Hey,

Excellent tool, saves us ton of time, however if we import an csv with loads of date fields via csv, somehow it loads everything as a string, not sure if this is tool or Elasticsearch settings!

Thanks a ton anyways!

Regards,
Vivek

[2019-03-04 18:47] #57 closed

[2019-03-05 13:42] moshe commented on #58
Hey @vivekiyer87,
In order to make es to parse your field as a date, you need to supply mapping (schema) for your data.
You can do it by supplying a `--index-settings-file` like in the [example](https://github.com/moshe/elasticsearch_loader#load-custom-mappings)
Example settings file will be:
[code]

[2019-03-25 11:34] lyriccoder commented on #8
Hi, I still have the same issue.
Python 3.7.1 (v3.7.1:260ec2c36a, Oct 20 2018, 14:57:15) [MSC v.1915 64 bit (AMD64)] on win32

Name: elasticsearch-loader
Version: 0.2.24

String: 139766587,75321,Functional / Open / Open-n-Save-ADFwithUnicodeName / æ–‡ä»¶eggsåUSTreat.exe,162274803,TRT-REL1301N-14,18,2018-07-04 21:44:45.44+03,18,"{""branch"":""master"",""version"":""Treat13.0""}",27446

It's a cor

[2019-03-25 11:52] moshe commented on #8
@lyriccoder can you please provide the file itself (or even few lines of it in a closed file), I suspect this is related to the file encoding (you can use https://send.firefox.com/).
I tried to reproduce it with the strings you provided but looks ok for me.
Additionally can you please paste the full stack trace of the error?

[2019-03-25 12:02] lyriccoder commented on #8
Well, first of all ,when I open file with the `encoding` parameter it works correct.

with open('1.csv', newline='', encoding='utf8') as csvfile

The file is really large (3GB), it is exported from POSTGRESQL:
\COPY status_history_21 TO '/mnt/data/dumps/bad-encoded/status_history_21.csv' CSV HEADER encoding 'utf-8';

Client encode of PostgreSQL is utf-8 also. I'll try to upload that file, but seem

[2019-03-26 14:46] #58 closed

[2019-03-27 23:11] antunesleo opened #64 "List data being indexed as Text/Keyword"
When I try to index an array of Text or Keyword, the data is indexed as a Text/keyword, and not as an array. Check the csv sample and ES index below:

**CSV**

| title  | year  |  director |  stars | genres |
|---|---|---|---|---|
| Inception  | 2010  |  Christopher Nolan | [ "Leonardo DiCaprio", "Joseph Gordon-Levitt", "Ellen Page", "Ken Watanabe"]  | ["Action", "Adventure", "Sci-Fi" ]   |

**Ind

[2019-03-28 08:19] moshe commented on #64
@antunesleo it's kindly expected, csv don't have array type in the spec, why you are not using json?

[2019-03-29 12:52] moshe commented on #8
@lyriccoder can you check version `0.2.25` https://github.com/moshe/elasticsearch_loader/releases/tag/v0.2.25 I've added new `--encoding` flag to the base command for all input files;
 `elasticsearch_loader --encoding 'utf-8' --index status_history_17 --type _doc --timeout 1000.00 csv C:\Elastic_parse\status_history_17.csv > C:\Elastic_parse\status_history_17.res`
If you still have a problem pleas

[2019-04-02 08:41] lyriccoder commented on #8
Thank you very much, seems it works (I've checked 3 large files)!

[2019-04-02 09:59] moshe commented on #8
happy to hear

[2019-04-18 10:07] #64 closed

[2019-06-04 09:08] peio opened #65 ""More than one type" error"
Dear Moshe,
 I am using elasticsearch_loader with the elastic version 7.1.1 on elastic cloud. When I add my own mapping to the index and then use the loader the following error is displayed:

Tracing the issue I believe this change is the cause: https://www.elastic.co/blog/index-type-parent-child-join-now-future-in-elasticsearch

I was able to go around it by commenting this line:
https://github.c

[2019-06-05 07:30] moshe commented on #65
Hi @peio,
Did you add the `--type` flag?
from the error, I can see that you already have `json` type in your index so add `--type=json` (es7 requires only one type per index and the default if `_doc`)

[2019-06-05 07:36] peio commented on #65
Hi @moshe
Yes, the command I execute is:

I have also noted difference on the behavior of the command parsing library on Windows 10 (Powershell) and Fedora Linux. It is separate issue, related to the parsing of the wildcard (*.json) but might be indication where the cause is.

Thank you,
Peio

[2019-06-05 07:40] moshe commented on #65
can you try to change the type to `_doc`?
elasticsearch_loader.exe --index bgnews --http-auth elastic:XXXXX --es-host https://XXXXX.us-east-1.aws.found.io:9243 --type `_doc` json 24chasa-2019-05-31.json --lines

[2019-06-05 08:03] peio commented on #65
Oh, --type _doc makes much more sense. It will take me a while to do a setup, because I am loading with a patched elasticsearch_loader on a prod setup, but will do a test setup as soon as I can.

[2019-06-05 11:48] peio commented on #65
Yep, confirmed. --type _doc is the right argument.
Only thing I can do is an documentation improvement.

Thank you!

[2019-06-06 07:54] moshe commented on #65
Actually, it is documented in the `--help` message:
[code]
I will write a better help message + warning if using es7 with type argument.

Thanks @peio

[2019-06-06 07:54] #65 closed

[2019-06-29 01:27] Indu-sharma opened #67 "Specific Keys of Json"
I'd wish to load only specific keys of json file to ES. Would it be able to support ?
Example:
json --keys a,b.c,d  [json_files]

[2019-06-29 11:10] moshe commented on #67
Hi @Indu-sharma,
I have added `--keys`, you can try it in version  `0.4.0`.
add the flag before the format (`elasticsearch_loader --index indexname --keys key1,key2 json files.json`)
Let me know if it works for you (:

[2019-07-01 15:01] jkimrey opened #70 "'Compressor detection can only be called on some xcontent bytes or compressed xcontent bytes"
Hi.

I'm trying to use Elasticsearch Head (chrome plugin) to query an existing elasticsearch index.  I'm writing out the results in either CSV or JSON to a file.

I'm then trying to use elasticsearch_loader to load the data into another elasticsearch instance.

Every time I try, however, I get the following error:

_'status': 400, 'error': {'type': 'mapper_parsing_exception', 'reason': 'failed to

[2019-07-01 19:33] moshe commented on #70
The error is probably caused by an old elasticsearch python package, can you try to update it to the latest version? `pip install -U elasticsearch`
And no elasticsearch_loader doesn't support loading data from another cluster

[2019-07-01 19:33] moshe commented on #67
ping @Indu-sharma

[2019-07-04 04:10] Indu-sharma commented on #67
Sure, Thanks a lot @moshe!
One more ask, many times our ES document id needs to be the concatenation of two fields. Would that be possible to take care of? Thank you.

[2019-07-09 12:41] moshe commented on #67
Yes, but it will wait until the next time I will have some free time.
Feel free to make a pr (:

[2019-07-09 14:34] alexlopespereira opened #71 "Indexing latitude and longitude as geo_point"
Hi,

Is it possible to index latitude and longitude (from a csv file) as geo_point such as defined here
https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-point.html ?

If you point me some high level instructions, I could try to modify the code.

Thanks.

[2019-07-10 17:20] moshe commented on #71
Hey @alexlopespereira
from the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/6.3/geo-point.html#geo-point) I see that you can index geo points as "lat,lon" string as follows:
[code]

So basically you can do it natively with esl without any code change.

[2019-07-16 16:07] cepefernando commented on #70
Having the same issue, and running ``` pip install -U elasticsearch ``` did not work.

[2019-07-18 10:25] moshe commented on #70
Can you please paste the output of 'python -V' , 'elasticsearch_loader --version' and 'pip show elasticsearch'

Sent from my iPhone

[2019-07-19 16:32] cyrg38 opened #72 "not working in 7.2 with tsv"
do you know when upgrade could be done ?

[2019-07-19 19:34] moshe commented on #72
This should work, can you please better explain your issue?

[2019-07-24 18:56] #71 closed

[2019-07-30 13:50] #67 closed

[2019-08-01 10:18] rapcore2 opened #73 "TSV import : TypeError: "delimiter" must be a 1-character string"
I use CentOS Linux release 7.6.1810 with python 3.6 (python36-3.6.8-1.el7.x86_64 / python36-pip-8.1.2-8.el7.noarch). elasticsearch_loader was installed with pip (pip3.6 install elasticsearch_loader) with no errors.

On import tsv to elasticsearch i got:
`elasticsearch_loader --type poland_geonames --index poland_geonames csv --delimiter="\t" poland_100.tsv
{'type': 'poland_geonames', 'index': 'pol

[2019-08-02 16:50] moshe commented on #73
Hi @rapcore2, please try to update to version 0.5.0 and let me know if it worked (:

[2019-08-08 11:24] #70 closed

[2019-08-09 20:09] #72 closed

[2019-08-23 18:03] #73 closed

[2019-09-17 07:14] mclurkles opened #74 "Working on windows?"
Hey - does this work on windows? Any tips?

[2019-09-17 08:19] moshe commented on #74
It should work, you encountered any specific issue?

[2019-09-17 08:22] mclurkles commented on #74
Just tried as per the docs - it is maybe not being found in the path.

What should i be typing into the cmd prompt?

[2019-09-17 18:52] moshe commented on #74
just like the docs, `elasticsearch_loader --help`.
I've just released version `v0.5.1` can you update and run
`python -m elasticsearch_loader --help` ?

[2019-09-23 11:25] mclurkles commented on #74
Thanks mate! That solved it.

[2019-09-23 11:32] moshe commented on #74
Happy to hear 🙂

[2019-09-23 11:32] #74 closed

[2019-11-20 17:16] packetwatch opened #77 "Add a --no-type option?"
As expected, the TYPE field is no longer necessary in ES 7.X. When importing to an ES7.X cluster I'm getting the error:

'reason': 'The [default] mapping cannot be updated on index [blah]: defaults mappings are not useful anymore now that indices can have at most one type.', 'type': 'illegal_argument_exception'

When I try to designate the index as "", it throws the error:

type is missing

Can we

[2019-11-20 17:33] packetwatch commented on #77
Never mind... Not necessary after all.

My issue was the Template for the index existed and had been created in 6.X already. I deleted the template with the following command and when ES-Loader ran the index was created successfully.

curl -XDELETE http://localhost:9200/_template/logstash

In case anyone else has that issue....

Thanks again!

[2019-11-20 17:33] #77 closed

[2019-11-22 15:47] ikewzer0 opened #78 "Can we skip if a document already exist ? ?"
i was loading a 128gb file :) it was all going well, almost around 74% done. it failed..
as i read, default it does is overwrite.. is there any way i can restart loading data and skip the existing documents ?

[2019-11-22 15:55] moshe commented on #78
There is no option for this, which format are you using? You can use `head` or `tail` to filter lines

[2019-11-23 02:49] ikewzer0 commented on #78
elasticsearch_loader --bulk-size 3000 --index rdns --type dnsrecords json rdns.json --lines

that is the command i used..
this is how my json file format looks like.. it is around 128gb..
[code]

[2019-11-23 02:51] ikewzer0 commented on #78
this tool was the only one which allowed me to import this formatting :smiley:  .. i tried various other tools..
i would like to know if i can resume from the place i got error after skipping the existing records.

[2019-11-23 14:12] moshe commented on #78
Try `cat rdns.json| tail -n +1000  | elasticsearch_loader --bulk-size 3000 --index rdns --type dnsrecords json - --lines` For skipping first 1000 lines

[2019-11-27 21:31] moshe commented on #78
@ikewzer0 any update?

[2019-12-01 17:55] ikewzer0 commented on #78
@moshe i deleted it before i saw your solution, i think that should've fixed it though.. gonna run again.. is there anyway i can add a retry for failing ones ? am gonna run the import again

[2019-12-01 19:26] moshe commented on #78
Add `--with-retry`

[2019-12-12 13:12] turboT4 opened #79 "Unable to load parquet files into local Elasticsearch"
So I've just installed `elasticsearch-loader` according to all the steps provided in docs, and also `elasticsearch-loader[parquet]`.

However, whenever I try to send a parquet file into my local system the following prompts.

[code]

Any clue on why this could happen?

[2019-12-12 21:07] moshe commented on #79
It seems like an issue in https://github.com/jcrobak/parquet-python , can you paste the parquet schema here?

[2019-12-13 13:34] turboT4 commented on #79
Just read that Array types aren't supported... Is this https://github.com/jcrobak/parquet-python/issues/32 the issue you mentioned?

If so yeah, I do have arrays and inner arrays within my schema. Nested in a Map, Maps, everything! It's quite complete.

[2019-12-21 12:02] moshe commented on #79
So I'm afraid you will not able to load this parquet files with esl, you can try to fork the repo and change `parquet-python` with `fastparquet[1]` and submit a pr if it works🙂

[1] https://fastparquet.readthedocs.io/en/latest/

[2019-12-22 21:19] #78 closed

[2020-01-09 23:43] thomasjohnkane opened #81 "Get keys from header row"
Hello! In the case of csv files, can you get the keys from the header row?

My goal is to load a csv file like this:
[code]

And see something like this loaded:
[code]

Is this possible?

Thank!

[2020-01-10 14:48] moshe commented on #81
This is the default behavior👋

[2020-01-10 14:49] #81 closed

[2020-01-10 16:48] thomasjohnkane commented on #81
Ok, I was just getting `0,1,2`. I'll look into it further on my side. Thanks for the package. Going to be really helpful!

[2020-01-11 13:29] #79 closed

[2020-01-30 14:36] molinto commented on #40
I'm doing the same thing:
[code]

Help plz

[2020-01-30 14:49] molinto commented on #40
@moshe

[2020-01-30 14:53] moshe commented on #40
Replace underscores with dashes index-settings-file

[2020-01-30 14:57] molinto commented on #40
Sorry, I'm an idiot

[2020-01-30 15:09] molinto opened #82 "Rejecting mapping update to [audits] as the final mapping would have more than 1 type"
**Command**:

[code]

**MAPPING FILE (audit_mapping.json)**:

[code]

**CSV File (audit.csv_**:
[code]

**Errors**:

[code]

[2020-01-30 15:38] molinto commented on #82
**COMMAND:**
elasticsearch_loader --index-settings-file audit_mapping.json  --index audits --http-auth elastic:rPASSWORD --type _doc csv audit.csv

MAPPING FILE (audit_mapping.json):

[code]

Seems to make this in the audit  - index management in Kibana:
[code]

[2020-01-30 15:54] molinto commented on #82
This works though :)

elasticsearch_loader --index-settings-file audit_mapping.json  --index audits --http-auth elastic:PASSWORD --keys id,action,module,occured_at --type _doc csv audit.csv

[2020-01-30 16:12] molinto commented on #82
Maybe not, it just populates the id in ElasticSearch, all other fields are empty :(

[2020-01-30 16:43] molinto commented on #82
Tried with a different dataset:

**elasticsearch_loader --index audits --http-auth elastic:PASSWORD csv audits.csv**

RESULT: Imports with id column & ts'iface;snr;bar columns

----

**elasticsearch_loader --index audits --http-auth elastic:PASSWORD --keys ts,snr,iface,bars csv audits.csv**

RESULTS: Imports only the id column

-----

**elasticsearch_loader --index-settings-file audits_mapping.jso

[2020-01-31 18:12] moshe commented on #82
I see that your data delimited by `;`, you need to add `--delimiter ';'`

[2020-02-03 09:12] molinto commented on #82
Thanks @moshe.

Couldn't find that in the documentation, tried it & get a 'Error: no such option: --delimiter'

[2020-02-04 10:44] BBerastegui opened #83 "elasticsearch.exceptions.SSLError"
Hi!

Even without forcing verifying the certificates (and even with a valid certificate) I'm getting this error when connecting:

[code]

Also, even though specifying that the protocol in the `es_host` parameter is `https`, when initializing, the `scheme` parameter in the `es_conn` JSON says `http` (I don't know if this has something to do with it):

[code]

It looks like it is a well known proble

[2020-02-07 18:40] stobias123 opened #84 "Empty string in date field returns error"
If I have an empty date in my CSV it causes the upload to crash.

[code]

Field value
[code]

[2020-02-08 12:18] moshe commented on #84
esl takes the raw data from CSV and puts it in es. JSON is a better fit for your use case, can you transform your input to a JSON file?

[2020-02-08 12:20] moshe commented on #83
Can you paste here the exact command you are running? including esl and es version?

[2020-02-08 12:21] moshe commented on #82
Can you paste the exact commad? `--delimiter` should come AFTER the csv command
`elasticsearch_loader --index ... csv --delimiter ';' cake.csv`

[2020-02-10 10:50] molinto commented on #82
This works!

elasticsearch_loader --index-settings-file signal_mapping.json  --index signals --http-auth elastic:PASSWORD --keys ts,snr,iface,bars --type _doc csv --delimiter ';'  signal.csv

Thank you for your help

[2020-02-10 10:50] #82 closed

[2020-02-19 11:27] BBerastegui commented on #83
I haven't been able to replicate now... I've tried with the same host and `pip3 install elasticsearch_loader` with no issues now.

I'll reopen this issue if I see it again! Sorry!

[2020-02-19 11:27] #83 closed

[2020-02-29 13:33] #84 closed

[2020-03-22 15:01] tuyenhva opened #86 "_csv.Error: field larger than field limit (131072)"
load file csv error:` _csv.Error: field larger than field limit (131072)`

[2020-03-25 04:06] #86 closed

[2020-03-29 09:39] akshitc commented on #86
@tuyenhva how did you solve this issue, facing similar problem here?

[2020-06-09 07:37] danyaljj opened #88 "Getting `Specifying types in bulk requests is deprecated.` message"
Any thoughts why I am getting this message? is this an error?
[code]

[2020-06-09 07:39] danyaljj commented on #88
And I am using `elasticsearch-7.7.1` and I understand that `types` are apparently deprecated.

[2020-07-02 07:36] #88 closed

[2020-09-25 05:36] dependabot-preview[bot] opened #89 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/moshe) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/moshe/update-logs/48688707).

[2020-09-28 05:38] #89 closed

[2020-11-11 13:21] antoteo opened #90 "usage"
is it possible to import elasticsearch_loader like other libs without install it and call it inside python? i use os.system(command) but i want to use inside executable file

thanks

[2020-12-12 17:06] moshe commented on #90
You should be able to use `load` which covers most of the usage of the CLI.
[code]

[2020-12-12 17:06] #90 closed

[2021-01-18 20:01] rohitgcs opened #93 "Loading parquet files from s3 into Elasticsearch"
Hi, I was taking a look at the library code and noticed that the esl-s3 only supports json. Is there a PR I can work on that provides other formats too? In my use case its parquet and I know you have a parquet loader. Wondering if I could reuse that module with s3?

Thanks in advance.

[2021-02-17 19:18] docdawning opened #94 "Document how to invoke elasticsearch_loader as a Python Module"
Hi, I'd like to integrate use of elasticsearch_loader in my Python project where I could invoke it as a module. But going by your docs I'm not sure how to do that. I can invoke it through subprocess or some shellexec call, but I'd rather directly trigger it as a Python module. Seems like this should be very possible. An example or two in the README.md would be fantastic.

[2021-06-22 17:57] #93 closed

[2021-06-22 17:57] #94 closed

[2021-09-23 11:48] darthf1 opened #99 "`Click` dependency"
Hi!

I wanted to give your loader a try, it looks very promising!

My current project already uses `click==8.0.1` and I get a dependency conflict which prohibits me from using this loader:
[code]

Is it possible to upgrade the `click` dependency to `v8`?

[2021-09-26 18:46] moshe commented on #99
Sure, feel free to open a pull request

[2022-02-16 14:18] DavidTorresOcana commented on #99
Any progress to solve this?

[2022-04-04 10:26] skyberd commented on #99
@moshe - I have a branch for this but the repo isn't allowing me to push to a new branch. Can you give me permissions to do so?

[2022-04-06 14:17] awiley-coyote opened #103 "Not sure how I am supposed to be using ths module"
I have tried using this module on the command line and in a script. All I am getting is errors.

I am on Ubuntu 20.04

[2022-04-06 14:20] awiley-coyote commented on #103
![Capture](https://user-images.githubusercontent.com/63591759/161996345-6209413e-31fc-45a1-8ad7-72f3bdbda6e7.PNG)
Here is the error.

The script is just:
import elasticsearch-loader

print("This works") #testing is the error is python
elasticsearch_loader --help

[2022-04-28 04:18] #99 closed

[2022-07-03 17:50] lucafrost commented on #103
If I understand correctly, you're using the module incorrectly... Here's how (theoretically) to get the package working — **N.B.** this will only work if you're running Elasticsearch version < 8 until my pull requests are merged: #104 #105

*This is all to be done via terminal/CLI*

1. `pip install elasticsearch-loader`
2. `elasticsearch_loader --es-host <your elastic endpoint> --http-auth elastic

[2022-08-30 08:02] dropthemasquerade opened #106 "ypeError: __init__() got an unexpected keyword argument 'use_ssl"
I am run it with the following command:
[code]
I got :

[code]

[2022-09-14 20:52] ossie-git commented on #106
I ran into this issue as well. A temporary workaround that worked for me was to use the Python 2 version of elasticsearch_loader